body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.a {
    color: rgb(221, 99, 55);
}

.flexible-container {
    display: flex;
    margin-bottom: 100pxS;
}

.b {
    width: 50%;
    padding: 3%;

}

.b img {
    width: 60%;
}

.link-butoon {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(baground2.jpg.jpg);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(pexels-magda-ehlers-1279813.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
}